<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'New Ticket', new_project_ticket_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project",
project_path(@project),
method: :delete,
data: { confirm:
"Are you sure you want to delete this project?"
} %>
<%= link_to "Make it shiny!", "#" %>

<ul id='tickets'>
<% @project.tickets.each do |ticket| %>
<li>
#<%= ticket.id %> -
<%= link_to ticket.title, [@project, ticket] %>
</li>
<% end %>
</ul>