<!DOCTYPE html>
<html>
  <head>
    <title>SamplePro</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <nav>
<li><%= link_to "Sign up", new_customer_path %></li>
<li><%= link_to "Sign in", signin_path %></li>
</nav>
    <%= yield %>
<nav>
<%= link_to "Edit Profile", new_project_path %>
</nav>
  </body>
</html>
