<!DOCTYPE html>
<html>
  <head>
    <title>SamplePro</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <nav>
<%= link_to "Sign up", new_user_path %>
</nav>
<nav>
<%= link_to "Edit Profile", new_user_path %>
</nav>
  </body>
</html>
